<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<% postCount = 1 %>
	<% lastFive = getLastFive %>
	<% lastFive.each do |enum| %>
		<% if validPost enum %>
			<h1><%= getTitle enum %></h1>
			<div id = 'prePost'> Author : Hunter Jansen - Posted on : <%= getDate enum %> Category - <%= getCat enum %></div>
			<br/>
			<%= getIntro enum %>
			<br/>
			<%= link_to "Continue Reading", "posts/#{enum}" %>
			<br/>
			<br/>
			<div id = 'tags'>Tags : 
				<% tags  = getTags enum %>
				<% tags.each do |tag| %>
				<%= link_to tag.name, "tags/#{tag.id}" %>
				<% end %>
			</div><br/>
		<% end %>

	<% end %>

</div>
