<h1>Search Results</h1>

  <% if @posts.count == 0 %>
    <h3>No posts match your search results</h3>
    <% else %>

  <% @posts.each do |enum| %>
    <h1><%= getTitle enum %></h1>
      <div id = 'prePost'> Author : Hunter Jansen - Posted on : <%= getDate enum %> Category - <%= getCat enum %></div>
      <br/>
      <%= getIntro enum %>
      <br/>
      <%= link_to "Continue Reading", "posts/#{enum}" %>
      <br/>
      <br/>
      <div id = 'tags'>Tags : 
        <% tags  = getTags enum %>
        <% tags.each do |tag| %>
        <%= link_to tag.name, "tags/#{tag.id}" %>
        <% end %>
      </div><br/>
    <% end %>
    <% end %>
<br />