<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title %>
</h1>

<p>
  <b>Dateposted:</b>
  <%= @post.datePosted %>
  <br/>
  <b>Tags:</b>
  <% @post.tags.each do |t|  %>
  	<%= link_to t.name, t %>,
  	<% end %>
</p>

<p>
  <%= @post.body.split("--endIntro").first.html_safe %>
  <%= @post.body.split("--endIntro").last.html_safe %>
</p>