<div id = 'headerStretch'>
  <header>
    <span class = 'title'>
      <%= image_tag("ccIcon.png", :border => 0, :class=>"logo") %>
      <%= link_to "calmlyCoding", root_url %>
    </span>
    <nav>
      <ul class = 'menu'>
        <li><%= link_to "Blog",    '#' %></li>
        <li><%= link_to "Apps",    '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
  </header>
</div>